@import './variables.scss';
@import './mixin.scss';

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
 
body {
    margin: 0; 

    @include mobile{ 
      background-color: color(primary-blue);
    }
}

a{
  font-weight: weight(regular);
}

input:focus {
  outline: none;
}

.header-nav{
  @include primaryButton;

  margin: 5px 20px;
  padding: 10px 50px;

  @include mobile{ 
    display: flex;
  }
}

.container{
  max-width:800px;
  margin: 20px auto;
  padding: 20px;
  background: color(primary-blue);
  overflow: auto;
}

.about-inner-container{
  background: color(primary-background);
  padding: 20px;
  margin-bottom: 20px;
}

.add-newtodo{
  background: color(primary-background);
  margin-bottom: 20px;

  &-form{
    display: flex;
    flex-direction: column;

    &-input{
      border: 0;
      border-bottom: 2px dashed color(primary-blue);
      font-size: 30px;
      line-height: 32px;
      padding: 10px;
      margin: 20px;
      text-align: center;
      font-family: serif;
      font-style: italic;
      background: transparent;

      &:focus {
        outline: dashed;
        border-color: transparent;
        background: color(input-focuse);
      }
    }

    &-btn{
      @include primaryButton;

      padding: 7px 20px;
      font-family: serif;
      font-style: italic;
      font-size: 24px;
      max-width: 150px;
      margin: 0px auto 30px;
      border-radius: 50px;
    }
  }
}