* {
    box-sizing: border-box;
    font-family: sans-serif;
}
 
body {
    margin: 0; 
}

.container{
  max-width:800px;
  margin: auto;
  background: #22356b;
  overflow: auto;
}

.add-newtodo{
  background: #fff9d4;
  margin: 20px;
}

.add-newtodo-form{
  display: flex;
  flex-direction: column;
}

.add-newtodo-form-input{
  border: 0;
  border-bottom: 2px solid #22356b;
  font-size: 30px;
  line-height: 32px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-family: serif;
  font-style: italic;
  background: transparent;
}

.add-newtodo-form-btn{
  display: inline-block;
  border: none;
  background: #22356B;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  text-align: center;
  font-family: serif;
  font-style: italic;
  font-size: 24px;
  max-width: 150px;
  margin: 0px auto 30px;
  border-radius: 50px;
}

.btn:hover{
  background: #090054;
}