@import './variables.scss';

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
 
body {
    margin: 0; 
}

a{
  font-weight: map-get( $font-weights, regular );
}

input:focus {
  outline: none;
}

.header-nav{
  background: $primary-btn-color;
  color: $primary-white-color;
  margin: 5px 20px;
  padding: 10px 50px;
  display: inline-flex;
}

.header-nav:hover{
  background: $primary-white-color;
  color: $primary-blue-color;
}  

.container{
  max-width:800px;
  margin: 20px auto;
  padding: 20px;
  background: $primary-blue-color;
  overflow: auto;
}

.about-inner-container{
  background: $primary-background-color;
  padding: 20px;
  margin-bottom: 20px;
}

.add-newtodo{
  background: $primary-background-color;
  margin-bottom: 20px;

  &-form{
    display: flex;
    flex-direction: column;

    &-input{
      border: 0;
      border-bottom: 2px dashed $primary-blue-color;
      font-size: 30px;
      line-height: 32px;
      padding: 10px;
      margin: 20px;
      text-align: center;
      font-family: serif;
      font-style: italic;
      background: transparent;

      &:focus {
        outline: dashed;
        border-color: transparent;
        background: #e8f0fe;
      }
    }

    &-btn{
      display: inline-block;
      border: none;
      background: $primary-btn-color;
      border: 1px solid $primary-btn-color;
      color: $primary-white-color;
      padding: 7px 20px;
      cursor: pointer;
      text-align: center;
      font-family: serif;
      font-style: italic;
      font-size: 24px;
      max-width: 150px;
      margin: 0px auto 30px;
      border-radius: 50px;
    }
    &-btn:hover{
      background:$primary-white-color;
      color: $primary-blue-color;
    }  
  }
}