$primary-background-color: #fff9d4;
$primary-blue-color: #22356b;
$primary-btn-color: #121c3a;
$primary-red-color: #ff0000;
$primary-white-color: #ffffff;

$font-weights: (
    "regular": 300,
    "medium": 600,
    "bold": 900
)